{% extends "base.html" %}
{% block title %}Change Password{% endblock %}
{% block content %}
<h1>Change Password</h1>
<form method="POST" novalidate>
  {{ form.hidden_tag() }}
  {{ form.current_password.label }}<br>
  {{ form.current_password(size=32) }}<br>

  {{ form.new_password.label }}<br>
  {{ form.new_password(size=32) }}<br>

  {{ form.confirm_password.label }}<br>
  {{ form.confirm_password(size=32) }}<br>

  {{ form.submit() }}
</form>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<p class="text-danger">{{ message }}</p>
{% endfor %}
{% endif %}
{% endwith %}
{% endblock %}
